---
// import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
// import { Image } from "astro:assets";

const meta = {
	description: "Oops! Il semblerait que cette page soit perdue dans l'espace!",
	title: "Oops! Vous avez trouver une page manquante!",
};
---

<PageLayout meta={meta}>
	<h1 class='title mb-6'>404 | Il n'y a rien ici :(</h1>
	<p class='mb-8'>S'il vous plaît, utilisez la navigation pour retrouver votre chemin</p>
	<!-- <div class="my-4 grid justify-center">
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="rotate-180"
			loading="eager"
			src={aboutImg}
		/>
	</div> -->
</PageLayout>
