---
// import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";

const MAX_POSTS = 3;
// const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const projects: { desc: string; href: string; title: string; tech: string }[] = [
	{
		desc: "Dodji'Seanéma est une plateforme de réservation et de gestion d'expériences cinématographiques en plein air (à la plage). C'est un projet réalisé en freelancing pour un client.",
		href: "http://dodji.jospygoudalo.xyz/",
		tech: "React, ShadCN UI, Tailwind CSS, Laravel",
		title: "Dodji'Seanéma",
	},
	{
		desc: "Hireleak est un système de suivi des candidats (SSC) de base alimenté par l’IA conçu pour aider les recruteurs et responsables dans leurs efforts de recrutement.",
		href: "https://hireleak.vercel.app",
		tech: "NextJS/React, Supabase, LangchainJS, OpenAI, VercelAI SDK, ShadCN UI, Tailwind CSS",
		title: "Hireleak",
	},
	{
		desc: "AwaleERP est un logiciel de planification des ressources d’entreprise (ERP) simple et opiniâtre conçu pour rationaliser et optimiser les opérations commerciales.",
		href: "https://awale.vercel.app",
		tech: "React, Redux-Toolkit, ShadCN UI, Tailwind CSS, NodeJS.",
		title: "Awale",
	},
];
---

<PageLayout meta={{ title: "Accueil" }}>
	<section>
		<h1 class='title mb-6'>Salutations! 👋🏾</h1>
		<p class='mb-4'>
			⚡ Bonjour, je suis Khaled, votre sympathique magicien du code spécialisé dans les tours de
			magie front-end qui transforme les bugs en fonctionnalités inattendues 😉. Bienvenue sur mon
			terrain de jeu numérique où je présente mes projets et saupoudre quelques réflexions
			aléatoires pour d’autres amateurs de code à l'international.
		</p>
		<!-- <SocialList /> -->
	</section>
	<div class='mt-8 flex flex-col-reverse gap-4 gap-y-8 md:flex-row-reverse'>
		<section aria-label='Blog post list' class='flex-1'>
			<h2 class='title mb-4 text-xl'>Articles récents</h2>
			<ul class='space-y-4'>
				{
					allPostsByDate.map((p) => (
						<li class='flex flex-col gap-x-2 rounded-md bg-zinc-100 p-4 dark:bg-zinc-200/5 sm:flex-row'>
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section>
		<section class='flex-1'>
			<h2 class='title mb-4 text-xl'>Projets</h2>
			<dl class='space-y-4'>
				{
					projects.map(({ desc, href, title }) => (
						<div class='flex flex-col gap-2 rounded-md bg-zinc-100 p-4 dark:bg-zinc-200/5'>
							<dt>
								<span class='flex'>
									<a class='cactus-link' href={href} rel='noopener noreferrer' target='_blank'>
										{title}
									</a>
								</span>
							</dt>
							<dd>{desc}</dd>
						</div>
					))
				}
			</dl>
		</section>
	</div>
</PageLayout>
