---
import type { MarkdownHeading } from "astro";

import { generateToc } from "src/utils/generateToc";

import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<!-- <aside class="sticky top-20 order-2 -me-32 hidden basis-64 lg:block"> -->
<aside
	class='sticky top-20 order-2 -me-4 hidden basis-64 rounded-md bg-zinc-100 p-4 dark:bg-zinc-200/5 lg:block'
>
	<h2 class='font-semibold'>Table des matières</h2>
	<ul class='mt-4 min-w-48 text-xs'>
		{toc.map((heading) => <TOCHeading heading={heading} />)}
	</ul>
</aside>
